project:
  type: website
  output-dir: docs

website:
  title: "Econometrics - Nova SBE"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: materials.qmd
        text: Materials

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



